        body{
            font-family: 'Poppins', sans-serif;
            margin: 0;
        }
        h1{
            font-size: 55px;
        }
        .orange-color{
            color: orange;
        }
        .flexible-container{
            display: flex;
            margin-bottom: 120px;
        }
        .half-width{
            width: 100%;
            padding-left: 3%;
        }
        
        .half-width image{
            width: 100%;
        }
        .Link-button{
            text-decoration: none;
            background-image:linear-gradient(orange tomato);
            color: rebeccapurple;
            padding: 10px 30px;
            font-weight: 700;

            border-radius: 10px;
        }
        .top-banner{
            background-image: url(images/top-banner.png);
            background-repeat: no-repeat;
        }
        .Dream-Big{
            background-image: url(images/dream-bg.png);
            background-repeat: no-repeat;
            background-position: right;
        }
        .experience-area{
            background-image: url(images/exp-bg.png);
            background-repeat: no-repeat;
            background-position: left;

        }
        .experience-item{
            margin-left: 5%;
            margin-right: 5%;
            padding: 20px;
            box-shadow: 10px 10px 50px gray;
            width: 40%;
        }
        .expert{
            color: lightgreen;
            margin: 5%;
        }
        #web-dev{
            border-left: 7px solid;
            border-image: linear-gradient(blue cyan ) ;
            border-image-slice: 1;


        }
        #full-stack{
            border-left: 7px solid;
            border-image: linear-gradient ( salmon tomato    ) ;
            border-image-slice: 1;

        }
        footer p{
            text-align: center;
        }
        

